.container_12
  .grid_12
    .medium-text Terms of Service

    • Duelallday is designed solely for entertainment purposes.
    %br
    • It is your responsibility as a user of Duelallday to read the Terms of Service before accessing the site on each visit.
    %br
    • By using our site you fully agree that any gold obtained is for the purpose of increasing in-game wealth only, and therefore agree that any gold obtained is for the sole purpose of RuneScape © gameplay.
    %br
    • Any other use of the gold, attempted or realized, is outside of the accepted Terms of Service and will lead to immediate termination of your profile and forfeiture of any current RuneScape© balance that is held.
    %br
    • By using this site you also agree that we foresee no liability for any losses be-it virtual or monetary.
    %br
    • Your onsite balance is only a placeholder and represents the current value of RuneScape © we are currently holding on your behalf.
    %br
    • Should you not agree to any of the terms of use mentioned below you must immediately leave this website.