%section.title Welcome
%section.buttons
  = link_to "Log In", new_user_session_path, class: "btn btn-primary"
  = link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"
%section.buttons.single-button
  = link_to "About Us", info_path, class: "btn btn-primary page-modal-show", remote: true
%section.copy 
  %p.strong Welcome to Duel All Day.
  %p We are a gambling website which offers 50/50 Dice Duels, where you can gamble against other users.

  %p Also, we have brought back Frosty Flowers in Runescape where you can watch Live Hosts plant your flowers live.

  %p.strong Sign up to make bank now! 