%footer
  .copy 
    © 2014 Duel All Day. All rights reserved. 
    %br
    We are not affiliated with Jagex LTD © or Runescape ©. By creating an account, depositing or withdrawing, you are agreeing to 
    = link_to "our Terms of Service.", terms_of_service_path, target: "_blank"